.primary-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  & .aside-container {
    min-height: 100vh;
  }
  
  & .outlet-container {
    width: 100%;
    min-height: 100vh;
  }
}
