@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

$font-nunito: 'Nunito', sans-serif;
@mixin nunito-bold {
  font-family: $font-nunito;
  font-weight: 700;
}

.header-instructor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  background-color: #fff;
  min-height: 75px;
  box-shadow: 0 1px 15px -2px gray;
  & .header-instructor-text {
    @include nunito-bold;
    color: #000;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    padding-top: 3px;
  }
  & .header-instructor-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-left: 100px;
    &-search {
      margin-right: 15px;
    }
  }
}
