@import "../../styles/mixins";

.button {
  border: 1px solid #000;
  padding: 5px 40px;
  @include font-style(15, 24, 500);
  background-color: #7101ff;
  color: #fff;
  border-color: #7101ff;
  max-height: 56px;
  cursor: pointer;

  &--secondary {
    background: #fff;
    color: #000;
    border-color: #000;
  }
}