$font-montserrat: 'Montserrat', sans-serif;

@mixin montserrat-bold {
  font-family: $font-montserrat;
  font-weight: 700;
}

@mixin montserrat-medium {
  font-family: $font-montserrat;
  font-weight: 500;
}

.side-filter-container {
  max-width: 25%;
  min-height: 500px;
  padding: 20px;
  margin: 30px 30px 50px 50px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px rgb(240, 231, 231);

  & .filter-range {
    @include montserrat-bold;
    font-size: 20px;
    line-height: 20px;
    color: #222020;
  }

  & .inputs-price-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  & .checkbox-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 5px;
  }

  & .filter-button-wrapper {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .filter-apply-button {
      width: 50%;
      height: 40px;
      line-height: 18px;
      font-size: 18px;
      font-family: sans-serif;
      text-decoration: none;
      color: #222020;
      background-color: #fff;
      border: 2px solid #222020;
      border-radius: 25px;
      letter-spacing: 2px;
      text-align: center;
      position: relative;
      transition: all 0.35s;
      overflow: hiden;
      cursor: pointer;

      & .apply-button-text {
        @include montserrat-bold;
        position: relative;
        z-index: 2;
      }

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: red;
        border-radius: 25px;
        transition: all 0.35s;
      }

      &:hover {
        color: #fff;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
