@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap");

$font-lexend: "Lexend", sans-serif;
$font-nunito: "Nunito", sans-serif;
$black: #000;

@mixin lexend-bold {
  font-family: $font-lexend;
  font-weight: 700;
}

.title-img {
  display: block;
  width: 80px;
  height: 80px;
}
.title-text {
  @include lexend-bold;
  color: $black;
  font-size: 20px;
  line-height: 32px;
  max-width: 100%;
}
