@import '../../styles/mixins';

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 50px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.scroll-buttons {
  @include flex-box(row, space-around);
}

.list__filter {
  @include flex-box(row, initial, 10);
  width: 100%;
  align-items: center;

  &--item {
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 20px;
    max-width: 300px;
    cursor: pointer;
    @include font-style(14, 18);
  }

  &--item:hover {
    background: lighten($color: #000, $amount: 92);
  }
}

.space-around {
  justify-content: space-around;
}

.title-filter {
  @include font-style(20, 35, 500);
  margin: 20px 0 20px;
}

.flex-container {
  @include flex-box(row, space-between, 10);
  max-width: 550px;
}

.name-list {
  @include font-style(14, 20, 400, 'Montserrat', lighten(#000, 50));
  text-wrap: nowrap;
  cursor: pointer;
}

.flex {
  @include flex-box(row, space-between, 5);
  align-items: center;
}
