@import '../../styles/mixins';

.flex-row {
  max-width: 1200px;
  margin: 0 auto;
  @include flex-box(row, space-between);
  margin-top: 40px;
}

.main-page {
  display: flex;

  &-container {
  }
}
