@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

$font-nunito: 'Nunito', sans-serif;
@mixin nunito-medium {
  font-family: $font-nunito;
  font-weight: 500;
}

.search-container {
    min-width: 350px;
    position: relative;
    & .search-icon {
      position: absolute;
      top: 5px;
      left: 5px;
    }
    & .search-input {
      min-width: inherit;
      height: 30px;
      padding-left: 30px;
      border: 0.5px solid rgb(228, 226, 226);
      border-radius: 15px;
      outline: none;
      @include nunito-medium;
      font-size: 13px;
      line-height: 13px;
      color: #333334;
      &::placeholder {
        @include nunito-medium;
        font-size: 13px;
        line-height: 13px;
        color: #7a7a7c;
      }
      &:focus {
        border: 1px solid #626264;
        outline: none;
      }
    }
  }