@import '../../styles/mixins';

body {
  background-color: #fff;
}

.container-registration {
  margin: 50px auto 71px;
  max-width: 376px;
  
  & .reg-title-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  & .account-is {
    display: block;
    text-align: center;
    text-decoration: none;
    @include font-style(14, 24, 400, 'Montserrat', #131314);
    margin-top: 5px;
  }
}
