@import '../../styles/mixins';

.instructors-categories {
  display: inline-block;
  border: 1px solid black;
  border-radius: 15px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgb(139, 168, 168);
  }

  & .instructors-category-text {
    @include montserrat-regular;
    color: #000;
    font-size: 14px;
    line-height: 14px;
  }

  & .bold-category {
    font-weight: bold;
  }
}
