@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

$font-lexend: 'Lexend', sans-serif;

@mixin lexend-regular {
  font-family: $font-lexend;
  font-weight: 400;
}

body {
  background-color: #fff;
}

.container-login {
  margin: 50px auto 169px;
  max-width: 376px;
  & .login-title-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  & .account-not-or {
    display: block;
    text-align: center;
    text-decoration: none;
    @include lexend-regular;
    color: #131314;
    font-size: 14px;
    line-height: 24px;
    margin: 5px;
  }
}
